{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Rewards Page - Seller</title>
  <link rel="stylesheet" href="{% static 's_rewards.css' %}">
</head>
<body>
  <nav class="navbar">
    <img src="{% static 'logo.png' %}" class="logo" alt="Logo">
    <div class="navbar-buttons">
      <button class="navbar-button"><a style="color: inherit; text-decoration: none" href="/seller">Wallet</a></button>
      <button class="navbar-button"><a style="color: inherit; text-decoration: none" href="rewards">Rewards</a></button>
    </div>
  </nav>

  <div class="top-navbar">
    <div class="welcome-text">Hi {{ name }}, Welcome to the Rewards Section!</div>
    <div class="wallet-id"></div>
  </div>

  <div class="content">
    <h1 class="heading">Total Balance:</h1>
    <p><span id="supercoins" class="supercoins-animation">{{ balance }} Supercoins</span> left</p>
    <div id="totalRewards" class="total-rewards"></div>
  </div>
  <div class="transaction-container">
    <div class="transaction-history">
      <h3>Programs:</h3>
      <table>
        <thead>
          <tr>
            <th>Program</th>
            <th>Date</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for lp in lps %}
          <tr>
            <td>{{ lp.program_name }}</td>
            <td>{{ lp.date }}</td>
            <td>{{ lp.price }}</td>
            <td>
              <button class="delete-button">
                <img src="{% static 'delete-icon.png' %}" alt="Delete Icon">
              </button>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
    <div class="add-program-form">
      <h3>Add Program:</h3>
      <form id="addProgramForm" method="post" action="/seller/rewards">
        {% csrf_token %}
        <label for="program">Rewards Program:</label>
        <input type="text" id="program" name="program" required>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
        <button type="submit" class="add-button">Add</button>
      </form>
    </div>
  </div>
</body>
</html>
